@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
.h-custom {
    height: 400px!important; 
  }
::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: orange;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  